---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/sectionContainer.astro";
import { myExample } from "@/data/productExample";

const theParams = Astro.params['product'];

const info = myExample.find((product) => product.id === theParams);

if (!info) {
    return Astro.redirect('/404', 404);
}
---

<Layout
title={info.title}
description={info.short_description}
headerNavActive="none"
>
<SectionContainer className=" w-full !mb-10">
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="flex flex-col gap-4 h-[810px]">
            <div
            style={`background-image: url('${info.images[0]}');`}
            class="w-[30rem] aspect-[14/9] bg-center bg-cover rounded-xl bg-slate-100"
            />
            <div
            id="gallery"
            class="grid grid-cols-2 gap-3 rounded-xl overflow-y-scroll"
            >
                {
                    info.images.map((img) => (
                        <div
                        style={`background-image: url('${img}');`}
                        class="aspect-square bg-center bg-[size:180%] hover:bg-[size:200%] rounded-xl bg-slate-100 transition-all cursor-pointer"
                        />
                    ))
                }
            </div>
        </div>
        <div class="flex flex-col gap-5 h-[810px]">
            <div>
                <h1 class="text-[2.8rem] text-yellow-200 font-bold">
                    {info.title}
                </h1>
                <p
                class="text-xl opacity-70 font-semibold"
                >
                Opinion popular <span class="text-yellow-100">recolectada...</span>
                    <span 
                    class={`font-extrabold ${info.recolected_opinion > 2 ? 'text-green-500' : 'text-red-500'}`}
                    >
                        {`${info.recolected_opinion}/5`}
                    </span>
                </p>
                <div class="flex gap-2 pt-2">
                    {
                        info.content_tags.map(tag => (
                            <span class="text-sm bg-slate-800 text-slate-100 font-semibold px-3 pb-2 pt-1 rounded-xl cursor-default">
                                {tag}
                            </span>
                        ))
                    }
                </div>
            </div>
            <div
            id="info_container"
            class="overflow-y-scroll h-[100%] rounded-lg"
            >
                <ul class="flex flex-col gap-4 opacity-80">
                    {
                        info.description.map((p) => (
                            <li>
                                <h2 class="text-2xl font-semibold">
                                    {p.title}
                                </h2>
                                <p class="text-lg">
                                    {p.content}
                                </p>
                            </li>
                        ))
                    }
                </ul>
                <div class="border-t-[1px] border-t-slate-700 mt-10 pt-10">
                    <h3 class="text-2xl font-bold pb-2">Incluye:</h3>
                    <ol class="flex flex-col gap-1 list-disc pl-5 opacity-95">
                        {
                            info.include.map((item) => (
                                <li class="text-lg">
                                    <p>
                                        <span class="font-semibold text-slate-300">
                                            {`${item.title}:`}
                                        </span>
                                        {item.content}
                                    </p>
                                </li>
                            ))
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-around">
        <div class="flex flex-col gap-2 items-center pt-16">
            <h3 class="text-3xl font-bold">{info.pages_seller.length > 1 ? 'Todos los vendedores' : 'Vendedor'}</h3>
            <ul>
                {
                    info.pages_seller.map(seller => (
                        <li class="px-3 pb-2 pt-1 text-xl font-semibold bg-slate-800 text-slate-100 hover:bg-slate-700 rounded-lg transition duration-500">
                            <a
                            class="pb-[1px] border-b-[1px] border-b-slate-800 hover:border-b-yellow-200 transition-all duration-500"
                            href={seller.url} 
                            target="_blank"
                            >
                                {seller.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</SectionContainer>
</Layout>

<style>
    #gallery, #info_container {
        scrollbar-width: none;
    }
</style>