---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/sectionContainer.astro";

import { fetchPages } from '@/utils/searchInfo';
import CollectedOpinion from "@/components/collectedOpinion.astro";
import SearchCard from "@/components/searchCard.astro";

const query = new URL(Astro.request.url).searchParams.get('query') || '';
const results = query ? await fetchPages(query) : [];

const padding_temp = results.length < 3 && results.length !== 0 ? 'lg:py-[175px]' : 'lg:py-0';
---

<Layout
title="KeyboardPedia - Busqueda"
description="La mejor pagina de informacion sobre teclados mecanicos. Encuentra informacion sobre teclados mecanicos, switches, keycaps y mucho mas."
headerNavActive=""
>
    <SectionContainer className="!mb-10">
        <ol class:list={["flex flex-col gap-4", padding_temp]}>
            {
                results?.map(result => (
                    <SearchCard
                    id={result.id}
                    main_image={result.main_image}
                    title={result.title}
                    recolected_opinion={result.recolected_opinion}
                    short_description={result.short_description}
                    description={result.description}
                    />
                ))
            }
        </ol>
        {
            results.length === 0 && (
                <h1
                class="text-[3rem] font-extrabold text-center text-purple-400 py-[250px]"
                >
                    {'No se encontraron resultados :('}
                </h1>
            )
        }
    </SectionContainer>
</Layout>

<style>
    .descriptions {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>